body {
  font-size: .6em;
}

.row {
    display: flex;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6em;
  height: 6em;
  /*margin: .5em;*/
  border: 1px solid grey;
  background-color: rgba(200,200, 200, 1);
}

.selected {
  background-color: rgba(100, 200, 200, 1);
}
