* {
  box-sizing: border-box;
}

html{
  min-height: 100vh;
}

body {
    background-color: rgba(0,0,0, .1);
  /*font-size: .6em;*/
  /*min-width: 100%;*/
  /*min-height: 100vh;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
}

/*.container {
  width: 100%;
}*/

.row {
  /*width: 100%;*/
    display: flex;
    /*flex-wrap: nowrap;*/
    margin: 0;
    padding: 0;
    border: none;
    justify-content: space-around;
    align-items: stretch;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: .5em;
  height: .5em;
  /*padding: .1em;*/
  /*margin: .1em;*/
  /*border: 1px solid grey;*/
  background-color: rgba(200,200,230, .2);
  /*transition: all 1s linear;*/
  border: 1px solid rgba(100,100,100, .1);
}

.selected {
  background-color: rgba(0,233,0, .2);
  /*width: .5em;*/
  /*height: .5em;*/
  /*border-radius: 25%;*/
  /*margin: .1em;*/
  border: 1px solid rgba(0,200,0, .5);
}
